
.header-wrapper {
    &-dark {
        height: 76px;
        background-color: #252323;
    
        &-logo {
            padding: 1rem 4em;
        }
    
        &-item {
            color: #fff;
        }
    }

    &-light {
        height: 76px;
        background-color: #FFFFFF;
    
        &-logo {
            padding: 1rem 4em;
        }
    
        &-item {
            color: #252323;
        }
    }
}