<div class="login-wrapper d-flex flex-column justify-content-center align-items-center">
    <form [formGroup]="loginForm">
        <div class="row mb-3 d-flex align-items-center">
            <div class="mb-3">
                <img src="../../assets/img/logo-trakto.svg" alt="">
            </div>
            <div class="mb-3">
                <h2 class="login-wrapper-text">Olá, faça login em sua conta.</h2>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn" (click)="login()">
                <span>
                    <span class="d-flex justify-content-center align-items-center" *ngIf="!loadingSubmit">Entrar</span>
                    <span class="d-flex justify-content-center align-items-center" *ngIf="loadingSubmit">
                        <div class="spinner-border text-ligh m-3t mx-2" role="status"></div>
                        <span>Entrando...</span>
                    </span>
                </span>
            </button>
        </div>
    </form>
</div>