<div class="courseware-wrapper">
    <app-header [theme]="'light'">AAA</app-header>
    <div class="container">
        <div class="d-flex courseware-wrapper-banner">
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h4 class="courseware-wrapper-title">Conheça a jornada</h4>
                    <h4 class="courseware-wrapper-title">do Trakto Edu</h4>
                    <p class="courseware-wrapper-text">O design como ferramenta educadora.</p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <span class="courseware-wrapper-name">Tiago Mochileiro</span>
                <div class="courseware-wrapper-arrow">
                    <img src="../../assets/img/arrow.svg" alt="">
                </div>
                <img class="courseware-wrapper-photo" src="../../assets/img/tiago-da-silva.svg" alt="">
                <img class="courseware-wrapper-arrow-line" src="../../assets/img/arrow-line.svg" alt="">
            </div>
        </div>
        <div class="courseware-wrapper-content my-4">
            <div class="d-flex">
                <div class="col-6">
                    <p>Semana 06/02 até 28/02</p>
                </div>
                <div class="col-6">
                    <button>
                        Ver todo conteúdo
                    </button>
                </div>
            </div>
            <div>
                <h4>Material Didátivo</h4>
                <p>Acesse suas últimas apresentações de aula.</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">5 itens</div>
        </div>
        <div class="courseware-wrapper-content mt-4 ">
            <div class="d-flex">
                <div class="col-6">
                    <p>Semana 06/02 até 28/02</p>
                </div>
                <div class="col-6">
                    <button>
                        Abrir no Youtube
                    </button>
                </div>
            </div>
            <div>
                <h4>Vídeo aulas</h4>
                <p>Complemente os estudos assistindo o conteúdo de forma dinâmica.</p>
            </div>
            <div class="d-flex justify-content-center align-items-center"> 5 itens</div>
        </div>
    </div>
</div>