<div class="home-wrapper">
    <app-header [theme]="'dark'"></app-header>
    <div class="home-wrapper-content d-flex justify-content-center align-items-center">
        <div class="col-3">
            <a routerLink="/courseware">
                <div class="home-wrapper-text">Material Didático</div>
                <div class="home-wrapper-line blue"></div>
                <img src="../../assets/img/material.svg" alt="">
            </a>
        </div>
        <div class="col-3">
            <div class="home-wrapper-text">Quiz</div>
            <div class="home-wrapper-line green"></div>
            <img src="../../assets/img/quiz.svg" alt="">
        </div>
        <div class="col-3">
            <div class="home-wrapper-text">Desenho</div>
            <div class="home-wrapper-line lilac"></div>
            <img src="../../assets/img/desenho.svg" alt="">
        </div>
        <div class="col-3">
            <div class="home-wrapper-text">Youtube</div>
            <div class="home-wrapper-line red"></div>
            <img src="../../assets/img/youtube.svg" alt="">
        </div>
    </div>
</div>