@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.home-wrapper {
    height: 100vh;
    background-color: #1D1B1B;
    background-image: url(../../assets/img/bakground-icons.svg);

    &-content {
        height: calc(100vh - 76px);
    }

    &-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        line-height: 130%;
        color: #FFF;
    }

    &-line {
        width: 28px;
        height: 4px;
        margin: 0 auto;
    }
}

.blue {
    background-color: #4173CD;
}
.green {
    background-color: #1DC763;
}
.lilac {
    background-color: #F6B5FF;
}
.red {
    background-color: #FF0000;
}

.col-3 {
    text-align: center;
}

img {
    width: 18em;
    padding: 1em;
}

a {
    text-decoration: none;
}